*/15 * * * * /cache/scritps/retry_failed.sh > /var/log/dicomserver_retry.log
30 * * * * /cache/scripts/get_studies_by_date.sh > /var/log/get_studies.log
#0 * * * * /cache/scritps/sendermt.sh > /var/log/sendermt.log
